<table class="t-main">
  <tr>
    <td>
      <table class="t-section">
        <tr>
          <td>
            <p>
              This email contains private information about your account. Please
              don't forward it. You have someone question about how to use our
              service? Write to us at our support. Remember that our customer
              service team Client can also help you in English.
            </p>
            <hr />
            <h4 class="text-center text-primary">
              Thanks for choosing <%= companyName %>
            </h4>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="t-footer">
  <tr>
    <td>
      <p class="text-muted">
        Copyright &copy; <%= companyName %>. All rights reserved.
      </p>
    </td>
  </tr>
</table>
