<table class="t-main">
  <tr>
    <td>
      <table class="t-section">
        <tr>
          <td>
            <h4>Hola <%=username%>,</h4>
            <p>
              Queremos informarle que su contraseña asociada a su cuenta se ha actualizado
              correctamente en nuestro sistema.
            </p>
            <p>
              Estamos aquí para ayudarte a aprovechar al máximo <%= companyName %>. Si tienes alguna pregunta, no dudes
                en contactarnos.
            </p>
            <p>¡Mientras tanto, explora con libertad!</p>
            <p>El equipo de <%= companyName %>
            </p>
            <p>
              <a href="<%= site %>" class="box-light">Inicia sesión en tu cuenta</a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>