<table class="t-main">
  <tr>
    <td>
      <table class="t-section">
        <tr>
          <td>
            <p>Hola <%=username%>,</p>
            <p>
              Le escribimos para informarle que su proceso de recuperación de
              contraseña fue exitoso. Ahora puede iniciar sesión en su cuenta
              usando su nueva contraseña.
            </p>
            <p>
              Si no solicitó este restablecimiento de contraseña o tiene alguna
              inquietud sobre la seguridad de su cuenta, comuníquese con nuestro
              equipo de soporte inmediatamente.
            </p>
            <p>El equipo de <%= companyName %></p>
            <p>
              <a href="<%= site %>" class="box-light">
                Inicia sesión en tu cuenta
              </a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
