<table class="t-main">
  <tr>
    <td>
      <table class="t-section">
        <tr>
          <td>
            <p>
              Este correo electrónico contiene información privada sobre tu
              cuenta. Por favor, no lo reenvíes. ¿Tienes alguna pregunta sobre
              cómo usar nuestro servicio? Escríbenos a nuestro soporte. Recuerda
              que nuestro equipo de servicio al cliente también puede ayudarte
              en español.
            </p>
            <hr />
            <h4 class="text-center text-primary">
              Gracias por elegir <%= companyName %>
            </h4>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<table class="t-footer">
  <tr>
    <td>
      <p class="text-muted">
        Copyright &copy; <%= companyName %>. Todos los derechos reservados.
      </p>
    </td>
  </tr>
</table>
