<table class="t-header">
    <tr>
      <td>
        <p>
          <img src="<%= companyIconUrl %>" alt="logo" width="120" />
        </p>
      </td>
      <td>
        <p class="text-right">
          <a href="<%= companySite %>" class="box-light">Login</a>
        </p>
      </td>
    </tr>
  </table>
  