<table class="t-main">
  <tr>
    <td>
      <table class="t-section">
        <tr>
          <td>
            <h4>Hello <%=username%>,</h4>
            <p>
              We want to inform you that your email address associated with your account has been successfully updated in our system.
            </p>
            <p>
              We're here to help you get the most out of <%= companyName %>. If
              you have any questions, please don't hesitate to contact us
            </p>
            <p>In the meantime, happy exploring!</p>
            <p>The <%= companyName %> Team</p>
            <p>
              <a href="<%= companySite %>" class="box-light">Log into your account</a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
