<table class="t-main">
  <tr>
    <td>
      <table class="t-section">
        <tr>
          <td>
            <p>Hello <%=username%>,</p>
            <p>
              We are writing to inform you that your password recovery process
              was successful. You can now log in to your account using your new
              password.
            </p>
            <p>
              If you did not request this password reset or have any concerns
              about your account security, please contact our support team
              immediately.
            </p>
            <p>The <%= companyName %> Team</p>
            <p>
              <a href="<%= site %>" class="box-light">Log into your account</a>
            </p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
