<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <%- include('head.ejs') %> 
  <body>
    <table class="t-body">
      <tr>
        <td>
          <%- include(`partials/${lang}/header.ejs`) %>
        </td>
      </tr>
      <tr>
        <td>
          <%- include(bodyPartial) %>
        </td>
      </tr>
      <tr>
        <td>
          <%- include(`partials/${lang}/footer.ejs`) %>
        </td>
      </tr>
    </table>
  </body>
</html>
