<table class="t-header">
  <tr>
    <td>
      <p>
        <img src="<%= companyIconUrl %>" alt="logo" width="128" />
      </p>
    </td>
    <td>
      <p class="text-right">
        <a href="<%= companySite %>" class="box-light">Iniciar sesión</a>
      </p>
    </td>
  </tr>
</table>
